.about {
	display: flex;
	flex-direction: column;
	gap: 1.2em;
	color: white;
	border-bottom: 1px solid rgba(200, 200, 200, 0.6);
	padding-bottom: .5em;
}

.aboutText {
	display: flex;
	flex-direction: column;
	gap: .85em;
	flex-wrap: wrap;
}

.aboutText p{
	font-size: 1rem;
	font-weight: 300;
}
