* {
	padding: 0;
	margin: 0;
}

a{color:inherit; text-decoration:none;}
ul{margin:0; padding:0; list-style:none;}
p{margin:0;}

/* ------ Header ------- */
.page-header {
	padding: 1em 1.2em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 600;
}

.nav-list {
	display: flex;
	gap: 1.2em;
	font-size: 1rem;
}

/* ----------- Main ----------- */

#main {

}

/* --- _Hero_ ---- */
.hero {

}

.hero-links {

}

/* --- _About_ ---- */
.about {

}

.about-text {

}

/* ---- O_o Projects O_o ---- */
.projects {

}

.project-list {

}

.project-item {

}

.project-meta {

}

.project-body {

}

.project-links {

}
